@model JardinSecretoPrueba1.Models.Extra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Extra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Extra1" class="control-label"></label>
                <input asp-for="Extra1" class="form-control" />
                <span asp-validation-for="Extra1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extra2" class="control-label"></label>
                <input asp-for="Extra2" class="form-control" />
                <span asp-validation-for="Extra2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extra3" class="control-label"></label>
                <input asp-for="Extra3" class="form-control" />
                <span asp-validation-for="Extra3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extra4" class="control-label"></label>
                <input asp-for="Extra4" class="form-control" />
                <span asp-validation-for="Extra4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio_Extra" class="control-label"></label>
                <input asp-for="Precio_Extra" class="form-control" />
                <span asp-validation-for="Precio_Extra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <select asp-for="IdProducto" class ="form-control" asp-items="ViewBag.IdProducto"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
