@{
    ViewData["Title"] = "Menu de opciones";
}
<br />
<div>
    <center>
    <h2>Escoja el que es lo que quiere elegir
        <br /><br />
        <a href="../Categorias/Index">Categorias</a>
        <a href="../Productos/Index">Productos</a>
            <a href="../Sabores/Index">Tipos de sabores</a>
            <a href="../Extras/Index">Extras</a>
    </h2>
    </center>
    <br /> <br />
    <h6><a href="../Home/Index">Ir al inicio</a></h6>
</div>