@{
    ViewData["Title"] = "Opciones";
}
<br />
<div>
    <center>
        <h2>
            <br /><br />
            Quieres añadir sabores: <a href="../Sabores/Index">Aqui</a>
            <br /><br />
            Quieres añadir ingredientes extras: <a href="../Extras/Index">Aqui</a>
            <br /><br />
            Quieres volver a añadir otro producto: <a href="../Productos/Create">Aqui</a>
            <br /><br />
            Quieres ver los productos añadidos: <a href="../Productos/Index">Aqui</a>
            <br /><br />
        </h2>
    </center>
    <br /> <br />
    <h6><a href="../Home/Opciones">Ir a las opciones</a></h6>
</div>