@{
    ViewData["Title"] = "Nombre usuario";
}

<form asp-action="Index" method="post">
    <label>Digite su nombre de usuario</label>
    <input type="text" name="nombreUsuario"/>

    <input type="submit" value="Enviar"/>
</form>