@{
    ViewData["Title"] = "Nombre usuario";
}

<form asp-action="NombreUsuario" method="post">
    <label>Digite su nombre de usuario</label>
    <input type="text" name="nombreUsuario" required/>

    <br /><br />

    <label>Seleccione el tipo de pedido</label> <br />
    <input type="radio" name="tipoPedido" value="Delivery" required /> Delivery <br />
    <input type="radio" name="tipoPedido" value="Pasar a recoger" /> Pasar a recoger <br />
    <input type="radio" name="tipoPedido" value="Comer en restaurante" /> Comer en restaurante <br />

    <br />
    <input type="submit" value="Enviar"/>
</form>