
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h2>
    <a href="../Auth/Login">Login</a>
    </h2>

    <h2>
        <a href="../ProductosClientes/NombreUsuario">Ver menu</a>   
    </h2>
</div>
    