@{
    ViewData["Title"] = "Error al eliminar";
}

<div class="container mt-5 text-center">
    <div class="card shadow-sm border-0 p-4">
        <div class="card-body">
            <i class="fa-solid fa-triangle-exclamation fa-3x text-danger mb-3"></i>
            <h2 class="text-danger fw-bold">¡Error!</h2>
            <p class="fs-5 mt-3">No puedes eliminar esta categoría porque está siendo utilizada por uno o más productos.</p>


            <div class="mt-4">
                <a href="/Categorias/Index" class="btn btn-primary">
                    <i class="fa-solid fa-arrow-left me-2"></i>Regresar al menú
                </a>
            </div>
        </div>
    </div>


</div>